<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Times</h1>
  <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <div class="col-md-3">
    <label>Distance</label>
  <select name="distance" id="brevet_dist_km">
    <option value="200">200km</option>
    <option value="300">300km</option>
    <option value="400">400km</option>
    <option value="600">600km</option>
    <option value="1000">1000km</option>
  </select>
  </div> <!-- columns 1--4  -->
  <div class="col-md-5">
    <label>Begins at</label>
    <input type=date name="begin_date" id="begin_date" value="2017-01-01" />
    <input type=time name="begin_time" id="begin_time" value="00:00"    />
  </div> <!-- columns 5--6 -->
  <div class="col-md-4">
    <button type=button name="submit" id="submit_button">Submit</button>
    <button type=button name="display" id="display_button">Display</button>
    <p class=notes id="submit_error"></td>
  </div>

  </div> <!-- row -->

  <br />  <!-- Cosmetic -- a little vertical space -->
  <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
  <div class="row">
  <div class="col-md-12"> 
  <table class="control_time_table">
      <tr>
	<th> Miles </th>
	<th> Km </th>
	<th>Location</th>
	<th>Open</th>
	<th>Close</th>
	<th>Notes</th>
      </tr>
   {% for row in range(20) %}
    <tr class="control">
      <!-- Dist (mi) -->
      <td><input name="miles" type="number" 
           min="0" max="900" size="5" /></td>
      <!-- Dist (km) -->
      <td><input name="km" type="text"
	   min="0" max="1100" size="5" /> </td>
      <!-- Location (optional) -->
      <td><input name="location" type="text" 
        placeholder="Optional location name"
	size="20" /> </td>
      <!-- Open time (read only, set by JavaScript function -->
      <td><input name="open" type="datetime" value="" readonly /></td>
      <!-- Close time (read only, set by JavaScript function -->
      <td><input name="close" type="datetime" value="" readonly /></td>
      <!-- Notes (error messages for this row) -->
      <td class="notes"></td>
    </tr>
    {% endfor %}
  </table>
  </div> <!-- col -->
  </div> <!-- row -->
</form>

<script type="text/javascript">

  var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
  var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";

  // Pass calctimes a <td> element containing the data for a control.
  // It extracts the distance and calls the server to get times to
  // fill in open and close times in a human-readable format.
  // (If we want to also keep the ISO-formatted times, we'll need to
  // stash them in hidden fields.) 
  function calc_times(control) {
    var km = control.find("input[name='km']").val();
    var open_time_field = control.find("input[name='open']");
    var close_time_field = control.find("input[name='close']");
    var notes_field = control.children()[5];
    var brevets = $("#brevet_dist_km").val();
    var start_time = $('#begin_date').val() +  ' ' +$('#begin_time').val();
    
    $.getJSON(TIME_CALC_URL, { km: km, brevets: brevets, start_time: start_time}, 
      // response handler
      function(data) {
         var times = data.result;
         console.log("Got a response: " +  times);
         console.log("Response.open = " + times.open);
         open_time_field.val( moment(times.open).utc().format("ddd M/D H:mm"));
         close_time_field.val( moment(times.close).utc().format("ddd M/D H:mm"));
         
         notes_field.innerHTML = "";
         if (((km - brevets)/brevets) >= .2){
           notes_field.innerHTML = "Invalid control point! Make sure that your control point is within 20 percent of the total brevet distance!";
         }

         if (km < 0){
           notes_field.innerHTML = "Invalid control point! Make sure that your control point is within a valid range!";
         }

         
       } // end of handler function
     );// End of getJSON
    }


  $('#brevet_dist_km').change(
    function() {
      control_update();
    }
  );

  $('#begin_date').change(
    function() {
      control_update();
    }
  );

  $('#begin_time').change(
    function() {
      control_update();
    }
  );

  function control_update() {
    $('.control > td > input[name="km"]').each(function(i){
      if ($(this).val() != ""){
        calc_times($(this).parents("td").parents(".control"));
      }
      
    });
  }

  $("#submit_button").click(function(){
    var submit_error = document.getElementById("submit_error");
    var brevets = $("#brevet_dist_km").val();
    var first = true;

    submit_error.innerText = "";

    $('.control').each(function(i){
      var cp_miles = $(this).find("input[name='miles']").val();
      var cp_kms = $(this).find("input[name='km']").val();
      var cp_location = $(this).find("input[name='location']").val();
      var cp_open = $(this).find("input[name='open']").val();
      var cp_close = $(this).find("input[name='close']").val();
      var cp_notes = $(this).children()[5].innerHTML;
      
      // if an error has been raised elsewhere
      if (cp_notes != ""){
        submit_error.innerText = "Looks like you have an unresolved error. Please fix and try again!";
        first = false;
        return false;
      }

      // because of autopopulation, we can assume that if miles
      // is empty, then we don't need to add it to the db
      if (cp_miles != ""){

        // if there is at least one matching item, reset the db
        if (first){
          _reset()
          first = !first
          _submit(
            {miles: -1,
             kms: brevets,
             location: 0,
             open: 0,
             close: 0
            })
        }

        // data to push

        var data = {
          miles: cp_miles,
          kms: cp_kms,
          location: cp_location,
          open: cp_open,
          close: cp_close 
        }

        _submit(data);

      }
    }); 
    
    if (first) { submit_error.innerText = "No controls specified!";}
    else { if (submit_error.innerText == ""){submit_error.innerText = "Submitted!";} }
  })

  // helper function to post data
  function _submit(data) {
    $.post('/_submit', data);
  }

  // helper function to reset database
  function _reset() {
    $.post('/_reset', {});
  }

  $("#display_button").click(function(){
    var submit_error = document.getElementById("submit_error");
    submit_error.innerText = ""

    $.get("/_display", 
        function(status) {
          if (!status){
            submit_error.innerText = "No control values are stored! Please submit values before you display them."
          } else {
            $(location).attr("href", "/display");
          }
        })
  })

  $(document).ready(function(){
   // Do the following when the page is finished loading

    $('input[name="miles"]').change(
      function() {
        var control_entry = $(this).parents(".control");
        var target = control_entry.find("input[name='km']");

        // if user deletes, want to clear everything except location
        if ($(this).val() != ""){
          var miles = parseFloat($(this).val());
          var km = (1.609344 * miles).toFixed(1) ;
          console.log("Converted " + miles + " miles to " + km + " kilometers");
          
          target.val( km );
          // Then calculate times for this entry
          calc_times(control_entry);
        } else {
          target.val("");
          control_entry.find("input[name='open']").val("");
          control_entry.find("input[name='close']").val("");
        }
      });

    $('input[name="km"]').change(
      function() {
        var control_entry = $(this).parents(".control");
        var target = control_entry.find("input[name='miles']");

        // if user deletes, want to clear everything except location
        if ($(this).val() != ""){
          var km = parseFloat($(this).val());
          var miles = (0.621371 * km).toFixed(1) ;
          console.log("Converted " + km + " km to " + miles + " miles");
          
          target.val( miles );
          // Then calculate times for this entry
          calc_times(control_entry);
        } else {
          target.val("");
          control_entry.find("input[name='open']").val("");
          control_entry.find("input[name='close']").val("");
        }
      });

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
